<h1>Site Type Index</h1>
<p style="color: green"><%= notice %></p>

<p><%= link_to "Create New Lot Type", new_site_type_path %> </p>
<table>
    <thead>
        <tr>
            <th>Site Type</th>
            <th>Total Lots</th>
            <th>Fee for Active Event</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @site_types.each do |st| %>
            <tr>
                <td><%= link_to st.name, st %></td>
                <td><%= st.lots.count %></td>

                <% if st.active_fee %>
                    <td><%= number_to_currency(st.active_fee.amount) %></td>
                <% else %>
                    <td>No Fee</td>
                <% end %>
                <td><%= link_to "Delete Lot Type", site_type_path(st), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure you want to delete this lot type?"
                } %></td>
            </tr>
        <% end %>
    </tbody>
</table>