<!-- app/views/users/new.html.erb -->
<h1>Create new user</h1>
<p style="color: green" class="noprint"><%= notice %></p>
<p style="color: red" class="noprint"><%= alert %></p>
<%= form_with model: @user, url: users_path do |form| %>
  <%= render partial: "shared/form_errors", locals: { object: form.object } %>
  <div>
    <%= form.label :firstname, "First Name" %>
    <%= form.text_field :firstname, required: true %>
  </div>
  <div>
    <%= form.label :lastname, "Last Name" %>
    <%= form.text_field :lastname, required: true %>
  </div>
  <div>
    <%= form.label :email %>
    <%= form.email_field :email, required: true %>
  </div>
  <div>
    <%= form.label :username %>
    <%= form.text_field :username, required: true %>
  </div>
  <div>
    <%= form.label :password %>
    <%= form.password_field :password, required: true %>
  </div>
  <div>
    <%= form.label :password_confirmation, "Confirm Password" %>
    <%= form.password_field :password_confirmation, required: true %>
  </div>
  <%= form.submit "Create user" %>
<% end %>
