<%= form_with model: @reservation do |form| %>
  <% if @reservation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
        <% reservation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.hidden_field :event_id, value: @active_event.id %>

    <%= form.label :camper_id, "Select Camper" %>
    <%= form.collection_select :camper_id, @campers, :id, :full_name %>
    
    <%= form.label :lot_id, "Select Lot" %>
    <%= form.collection_select :lot_id, @lots, :id, :name %>
    
    <%= form.label :discount_id, "Select Discount" %>
    <%= form.collection_select :discount_id, @discounts, :id, :name %>
    
<!--
    <%= form.label :slides, "Number of slideouts" %>
    <%= form.number_field :slides %>
    <%= form.label :length, "Trailer Length" %>
    <%= form.number_field :length %>-->
    <%= form.label :vehicle_license, "Licence Plate" %>
    <%= form.text_field :vehicle_license %>
<!--    <%= form.label :vehicle_license_2, "Licence Plate 2" %>
    <%= form.text_field :vehicle_license_2 %>
    <%= form.label :adults, "Number of Adults" %>
    <%= form.number_field :adults %>
    <%= form.label :kids, "Number of Children" %>
    <%= form.number_field :kids %>
    <%= form.label :pets, "Number of Pets" %>
    <%= form.number_field :pets %> -->
    <%= form.label :special_request, "Notes" %>
    <%= form.text_field :special_request %>

      <%= form.label :non_renewable, "Non Renewable?" %>
      <%= form.check_box :non_renewable %>
 
    

    <%= form.submit "Save Reservation" %>
<% end %>