<%= form_with model: @reservation do |form| %>
    <% if @reservation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
        <% reservation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.hidden_field :event_id, value: @active_event.id %>

    <%= form.label :camper_id, "Select Camper" %><br>
    <%= form.collection_select :camper_id, @campers, :id, :full_name %>
    <br>
    <%= form.label :lot_id, "Select Lot" %><br>
    <%= form.collection_select :lot_id, @lots, :id, :name %>
    <br>
    <%= form.label :discount_id, "Select Discount" %><br>
    <%= form.collection_select :discount_id, @discounts, :id, :name %>
    <br>

    <%= form.label :slides, "Number of slideouts" %><br>
    <%= form.number_field :slides %><br>
    <%= form.label :length, "Trailer Length" %><br>
    <%= form.number_field :length %><br>
    <%= form.label :vehicle_license, "Licence Plate" %><br>
    <%= form.text_field :vehicle_license %><br>
    <%= form.label :vehicle_license_2, "Licence Plate 2" %><br>
    <%= form.text_field :vehicle_license_2 %><br>
    <%= form.label :adults, "Number of Adults" %><br>
    <%= form.number_field :adults %><br>
    <%= form.label :kids, "Number of Children" %><br>
    <%= form.number_field :kids %><br>
    <%= form.label :pets, "Number of Pets" %><br>
    <%= form.number_field :pets %><br>
    <%= form.label :special_request, "Notes" %><br>
    <%= form.text_field :special_request %><br>
    <%= form.label :non_renewable, "Non Renewable?" %>
    <%= form.check_box :non_renewable %><br>

    <%= form.submit "Save Reservation" %>
<% end %>