<h1>In Park List</h1>

<h2><%= @active_event.name %></h2>

<div>
    <div>
    Total In Park: <%= @in_park_reservations.size %><br>
    Total Reservations: <%= @total_reservations %>
    </div>
    <table>
        <thead>
            <tr>
                <th>Lot Number</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Check In Date & Time</th>
            </tr>
        </thead>
        <tbody>
            <% @in_park_reservations.each do |reservation| %>
                <tr>
                    <td><%= reservation.lot.name %></td>
                    <td><%= reservation.camper.last_name %></td>
                    <td><%= reservation.camper.first_name %></td>
                    <td><%= reservation.checked_in_time %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>