<h1>In Park List</h1>

<div>
    <div>
    Total In Park: <%= @in_park_reservations.size %><br>
    Total Reservations: <%= @total_reservations %>
    </div>
    <table>
        <thead>
            <th>
                <td>Lot Number</td>
                <td>Last Name</td>
                <td>First Name</td>
                <td>Check In Time</td>
            </th>
        </thead>
        <tbody>
            <% @in_park_reservations.each do |reservation| %>
                <tr>
                    <td><%= reservation.lot.name %></td>
                    <td><%= reservation.camper.last_name %></td>
                    <td><%= reservation.camper.first_name %></td>
                    <td><%= reservation.checked_in_time %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>