<hgroup>
    <h1>Reservations</h1>
    <p><%= @active_event.name %></p>
</hgroup>


<p style="color: green" class="noprint"><%= notice %></p>

<div>
    Total Reservations: <%= @reservations.size %><br>
    Total Checked In: <%= @in_park_count %>
</div>

<div>
   <%= link_to "New Reservation", new_reservation_path %>
</div>

<div>
    <%= form_with url: search_reservations_url, method: :get do |f|  %>
        <fieldset role="search">
        <%= f.text_field :query, placeholder: "Search by Last Name:" %>
        <%= f.submit "Search" %>
        </fieldset>
    <% end %>
</div>

<div class="overflow-auto">
    <table class="striped">
        <thead>
            <tr>
                <th>Lot</th>
                <th>Name</th>
                <th>Owing</th>
                <th>Last Sent</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% @reservations.each do |reservation| %>
                <tr>
                    <td><%= reservation.lot.name %></td>
                    <td><%= link_to reservation.camper.last_name + ', ' + reservation.camper.first_name, reservation %></td>
                    <td><%= number_to_currency(reservation.due) %> </td>
                    <td><%= unless reservation.invoices.empty? 
                                reservation.invoices.last.created_at.strftime("%H:%M %d/%m/%Y") 
                            end %></td>
                    <% if reservation.checked_in %>
                        <td><%= link_to "Undo Check In", check_out_reservation_path(reservation) %></td>
                    <% else %>
                        <td><%= link_to "Check In", check_in_reservation_path(reservation) %></td>
                    <% end %>
                    <td><%= link_to "Edit", edit_reservation_path(reservation) %></td>
                    <td><%= link_to "Delete", reservation_path(reservation), data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure you want to delete this reservation? This cannot be undone."
                    } %></td>
                </tr>
            <% end %>
        </tbody>
    </table>

</div>