<% # This page when printed is also the Camper's receipt/invoice for the Lot %>
<% # Add button to send invoice by email %>

<div class="print_header">
    <h1>Kinmount Fair Trailer Park</h1>
    <h2><%= @active_event.name %></h2>
</div>
<p style="color: green" class="noprint"><%= notice %></p>

    <div class="tp_info printonly">
        P.O. BOX 238<br>
        KINMOUNT, ON, K0M 2A0<br>
        (705)488-2871<br>
        trailerpark@kinmountfair.net
    </div>

    <div class="camper_info">
        <h2>Camper Information</h2>
        Name: <%= @reservation.camper.first_name %> <%= @reservation.camper.last_name %><br>
        Address: <%= @reservation.camper.address %><br>
        Postal Code: <%= @reservation.camper.postal_code %><br>
        Phone: <%= @reservation.camper.phone %><br>
        Email: <%= @reservation.camper.email %><br>
        Phone 2: <%= @reservation.camper.phone_2 %><br>
        Email 2: <%= @reservation.camper.email_2 %><br>
        <span class="noprint"><%= link_to "Edit Camper Information", edit_camper_path(@reservation.camper) %></span>
    </div>

    <div class="res_info">
        <h2>Reservation Details</h2>
        License Plate: 
        <%= @reservation.vehicle_license %><br>
        # of slides: 
        <%= @reservation.slides %><br>
        Rig Length: 
        <%= @reservation.length %>ft<br>
        # adults: 
        <%= @reservation.adults %><br>
        # children: 
        <%= @reservation.kids %><br>
        # pets: 
        <%= @reservation.pets %><br>
        ID: 
        <%= @reservation.id %><br>
        Non Renewable: 
        <%= @reservation.non_renewable %><br>
        <span class="noprint"><%= link_to "Edit Reservation Details", edit_reservation_path(@reservation) %></span>
    </div>

    <div class="checkin_info">
        <span class="noprint">Checked In: 
        <%= @reservation.checked_in %></span><br>
        <span class="noprint">
            <% if @reservation.checked_in %>
                Check In Date: <%= @reservation.checked_in_time %><br>
                <%= link_to "Undo Check In", check_out_reservation_path(@reservation) %>
            <% else %>
                <%= link_to "Check In", check_in_reservation_path(@reservation) %>
            <% end %>
        </span><br>
        Lot: 
        <%= @reservation.lot.name %><br>
    </div>

    <div class="fee_info">
        <h2>Payments</h2>
        <% # Summary of charges %>
        <% # Add in discount as well %>
        <table>
            <thead>
                <tr>
                    <th colspan=2>Description</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Lot Fee:</td>
                    <td></td>
                    <td><%= number_to_currency(@reservation.total) %></td>
                </tr>
                <tr>
                    <td>Admissions:</td>
                </tr>
                <% @reservation.extra_charges.each do |exch| %>
                    <tr>
                        <td><%= exch.extra.name %>:</td>
                        <td><%= number_to_currency(exch.extra.charge) %>x<%= exch.number %></td>
                        <td><%= number_to_currency(exch.charge) %></td>
                    </tr>
                <% end %>
                <tr>
                    <td></td>
                    <td> Admissions Subtotal</td>
                    <td><%= number_to_currency(@reservation.get_extra_charges_total) %></td>
                </tr>
                <tr>
                    <td></td>
                    <td>TOTAL</td>
                    <td><%= number_to_currency(@reservation.total + @reservation.get_extra_charges_total) %></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="noprint">
        <% # Display form to add extras %>
        <%= form_with model: @reservation do |f| %>
            <%= f.fields_for :extra_charges do |ec_form| %>
                <% ext = ec_form.object.extra %>
                <%= ec_form.label :number, ext.name %>
                <%= ec_form.number_field :number, in: 0.0..10.0, step: 1.0 %>
            <% end %>
            <%= f.submit "Add Admissions" %>
        <% end %>
    </div>

    <div class="payment_info">
        <% # Show all payments made %>
        <table>
            <thead>
                <tr>
                    <th>Payment Date</th>
                    <th>Amount</th>
                    <th>Method</th>
                    <th>Memo</th>
                </tr>
            </thead>
            <tbody>
                <% @reservation.payments.each do |payment| %>
                    <tr>
                        <td><%= payment.created_at %></td>
                        <td><%= number_to_currency(payment.amount) %></td>
                        <td><%= if payment.payment_method
                                    payment.payment_method.name
                                else
                                end  %></td>
                        <td><%= payment.memo %></td>
                    </tr>
                <% end %>
                <tr>
                    <td>Total: </td>
                    <td><%= number_to_currency(@reservation.get_payments_total) %>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="printonly">
        HST#123670184
    </div>
    
    <div class="noprint">
        <% # New Payment form %>
        <%= form_with model: [ @reservation, @reservation.payments.build ] do |f| %>
            <%= f.label :amount, "Payment Amount" %>
            <%= f.number_field :amount %>
            <%= f.label :payment_method_id, "Method" %>
            <%= f.collection_select :payment_method_id, PaymentMethod.order(:name), :id, :name %>
            <%= f.label :memo, "Memo" %>
            <%= f.text_field :memo %>
            <%= f.submit "Confirm Payment" %>
        <% end %>
    </div>

