<% # This page when printed is also the Camper's receipt/invoice for the Lot %>

<div class="print_header">
    <h1>Kinmount Fair Trailer Park</h1>
    <h2><%= @active_event.name %></h2>
    <%= button_to "Send Confirmation Invoice", send_confirmation_reservation_path(@reservation), data: {
                    turbo_method: :post,
                    turbo_confirm: "Send Reservation Confirmation?"
                  } %>
    <p style="color: green" class="noprint"><%= notice %></p>
    <% @reservation.invoices.each do |inv| %>
        <p style="color: green" class="noprint">Invoice sent <%= inv.created_at.strftime('%F %T') %></p>
    <% end %>
</div>

    <div class="tp_info printonly">
        P.O. BOX 238<br>
        KINMOUNT, ON, K0M 2A0<br>
        (705)488-2871<br>
        trailerpark@kinmountfair.net
    </div>

    <div class="checkin_info">
        <p>
            <span class="noprint">Checked In: 
            <%= @reservation.checked_in %></span><br>
                <% if @reservation.checked_in %>
                    Check In Date: <%= @reservation.checked_in_time.strftime('%F %T') %><br>
                    <span class="noprint"><%= link_to "Undo Check In", check_out_reservation_path(@reservation) %></span>
                <% else %>
                    <span class="noprint"><%= link_to "Check In", check_in_reservation_path(@reservation) %></span>
                <% end %>
            <br>
            Lot: 
            <%= @reservation.lot.name %><br>
        </p>
    </div>

    <div class="camper_info">
        <h2>Camper Information</h2>
        Name: <%= @reservation.camper.first_name %> <%= @reservation.camper.last_name %><br>
        Address: <%= @reservation.camper.address %><br>
        Postal Code: <%= @reservation.camper.postal_code %><br>
        Phone: <%= @reservation.camper.phone %><br>
        Email: <%= @reservation.camper.email %><br>
        Phone 2: <%= @reservation.camper.phone_2 %><br>
        Email 2: <%= @reservation.camper.email_2 %><br>
        <span class="noprint"><%= link_to "Edit Camper Information", edit_camper_path(@reservation.camper) %></span>
    </div>

    <div class="res_info">
        <h2>Reservation Details</h2>
        License Plate: 
        <%= @reservation.vehicle_license %><br>
        # of slides: 
        <%= @reservation.slides %><br>
        Rig Length: 
        <%= @reservation.length %>ft<br>
        # adults: 
        <%= @reservation.adults %><br>
        # children: 
        <%= @reservation.kids %><br>
        # pets: 
        <%= @reservation.pets %><br>
        ID: 
        <%= @reservation.id %><br>
        Non Renewable: 
        <%= @reservation.non_renewable %><br>
        <span class="noprint"><%= link_to "Edit Reservation Details", edit_reservation_path(@reservation) %></span>
    </div>

    <div class="fee_info">
        <h2>Fee Summary</h2>
        <% # Summary of charges %>
        <% # Add in discount as well %>
        <table>
            <thead>
                <tr>
                    <th colspan=2>Description</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Lot Fee:</td>
                    <td></td>
                    <td><%= number_to_currency(@reservation.total) %></td>
                </tr>
                <tr>
                    <td>Admissions:</td>
                </tr>
                <% @reservation.extra_charges.each do |exch| %>
                    <tr>
                        <td><%= exch.extra.name %>:</td>
                        <td><%= number_to_currency(exch.extra.charge) %>x<%= exch.number %></td>
                        <td><%= number_to_currency(exch.charge) %></td>
                    </tr>
                <% end %>
                <tr>
                    <td></td>
                    <td> Admissions Subtotal</td>
                    <td><%= number_to_currency(@reservation.get_extra_charges_total) %></td>
                </tr>
                <tr>
                    <td></td>
                    <td>TOTAL</td>
                    <td><%= number_to_currency(@reservation.total + @reservation.get_extra_charges_total) %></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="extra_form noprint">
        <% # Display form to add extras %>
        <h2>Admission Maintenance</h2>
        <%= form_with model: @reservation do |f| %>
            <table>
                <%= f.fields_for :extra_charges do |ec_form| %>
                    <% ext = ec_form.object.extra %>
                    <tr>
                        <td><%= ec_form.label :number, ext.name %></td>
                        <td><%= ec_form.number_field :number, in: 0.0..10.0, step: 1.0 %></td>
                    </tr>
                <% end %>
            </table>
            <%= f.submit "Add Admissions" %>
        <% end %>
    </div>

    <div class="payment_info">
        <% # Show all payments made %>
        <h2>Payments</h2>
        <table>
            <thead>
                <tr>
                    <th>Payment Date</th>
                    <th>Amount</th>
                    <th>Method</th>
                    <th>Memo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% @reservation.payments.each do |payment| %>
                    <tr>
                        <td><%= payment.created_at.strftime('%F %T') %></td>
                        <td><%= number_to_currency(payment.amount) %></td>
                        <td><%= if payment.payment_method
                                    payment.payment_method.name
                                else
                                end  %></td>
                        <td><%= payment.memo %></td>
                        <td class="noprint"><%= link_to "Delete Payment", reservation_payment_path(@reservation, payment), data: {
                            turbo_method: :delete,
                            turbo_confirm: "Are you sure you want to delete this payment?"
                        } %></td>
                    </tr>
                <% end %>
                <tr>
                    <td>Total: </td>
                    <td><%= number_to_currency(@reservation.get_payments_total) %>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="printonly">
        HST#123670184
    </div>
    
    <div class="payment_form noprint">
        <% # New Payment form %>
        <h2>New Payment</h2>
        <%= form_with model: [ @reservation, @reservation.payments.build ] do |f| %>
            <table>
                <tr>
                    <td><%= f.label :amount, "Payment Amount" %></td>
                    <td><%= f.number_field :amount %></td>
                </tr>
                <tr>
                    <td><%= f.label :payment_method_id, "Method" %></td>
                    <td><%= f.collection_select :payment_method_id, PaymentMethod.order(:name), :id, :name %></td>
                </tr>
                <tr>
                    <td><%= f.label :memo, "Memo" %></td>
                    <td><%= f.text_field :memo %></td>
                </tr>
            </table>
            <%= f.submit "Confirm Payment" %>
        <% end %>
    </div>

