<!-- app/views/passwords/new.html.erb -->
<h1>Reset your password</h1>
<p style="color: green" class="noprint"><%= notice %></p>
<p style="color: red" class="noprint"><%= alert %></p>
<%= form_with url: passwords_path, scope: :user do |form| %>
  <%= form.label :email %>
  <%= form.email_field :email, required: true %>
  <%= form.submit "Reset Password" %>
<% end %>
