<%= form_with model: @camper do |form| %>
  <% if @camper.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@camper.errors.count, "error") %> prohibited this camper from being saved:</h2>

      <ul>
        <% @camper.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :last_name %><br>
    <%= form.text_field :last_name %>
  </div>

  <div>
    <%= form.label :first_name %><br>
    <%= form.text_field :first_name %>
  </div>

  <div>
    <%= form.label :address %><br>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :city %><br>
    <%= form.text_field :city %>
  </div>

  <div>
    <%= form.label :province %><br>
    <%= form.text_field :province %>
  </div>

  <div>
    <%= form.label :postal_code %><br>
    <%= form.text_field :postal_code %>
  </div>

  <div>
    <%= form.label :phone %><br>
    <%= form.telephone_field :phone %>
  </div>

  <div>
    <%= form.label :email %><br>
    <%= form.email_field :email %>
  </div>

  <div>
    <%= form.label :phone_2 %><br>
    <%= form.telephone_field :phone_2 %>
  </div>

  <div>
    <%= form.label :email_2 %><br>
    <%= form.email_field :email_2 %>
  </div>

  <div>
    <%= form.label :notes %><br>
    <%= form.text_area :notes %>
  </div>

  <div>
    <%= form.label :addl %><br>
    <%= form.text_area :addl %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>