<%= form_with model: @lot do |f| %>
    <% if @lot.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@lot.errors.count, "error") %> prohibited this lot from being saved:</h2>

      <ul>
        <% @lot.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :site_type_id, "Lot Type" %>
    <%= f.collection_select :site_type_id, @site_types, :id, :name  %>

    <%= f.label :name, "Lot Name" %>
    <%= f.text_field :name %>

    <%= f.label :length, "Length" %>
    <%= f.number_field :length %>

    <%= f.label :width, "Width" %>
    <%= f.number_field :width %>

    <%= f.label :special_condition, "Lot Notes" %>
    <%= f.text_field :special_condition %>

    <%= f.label :unavailable, "Lot Unavailable?" %>
    <%= f.check_box :unavailable %>

    <%= f.submit "Save Lot" %>

<% end %>