<p style="color: green"><%= notice %></p>

<h1>Discounts</h1>

<div id="discounts">
  <table>
    <thead>
      <tr>
        <th>Discount</th>
        <th>Amount</th>
        <th>Lot Fee Only</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @discounts.each do |discount| %>
        <tr>
          <td><%= link_to discount.name, discount %></td>
          <td><%= 
            if discount.is_percent
              (discount.amount * 100).to_s + '%'
            else
              number_to_currency(discount.amount)
            end
          %></td>
          <td><%= discount.lot_fee_only %></td>
          <td><%= link_to "Delete Discount", discount_path(discount), data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure you want to delete this discount?"
          } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New discount", new_discount_path %>
