<%= form_with model: @extra do |f| %>
      <% if @extra.errors.any? %>
        <div style="color: red">
        <h2><%= pluralize(@extra.errors.count, "error") %> prohibited this extra from being saved:</h2>

        <ul>
            <% @extra.errors.each do |error| %>
            <li><%= error.full_message %></li>
            <% end %>
        </ul>
        </div>
    <% end %>

    <%= f.label :name, "Extra Name" %>
    <%= f.text_field :name %>

    <%= f.label :charge, "Charge" %>
    <%= f.number_field :charge %>

    <%= f.label :event_id, "Event" %>
    <%= f.collection_select :event_id, @events, :id, :name %>

    <%= f.label :active, "Active" %>
    <%= f.check_box :active %>

    <%= f.submit "Save Extra" %>

<% end %>