<h1>Extras Index</h1>

<p><%= link_to "Create New Extra", new_extra_path %></p>

<table>
    <thead>
        <tr>
            <th>Extra Name</th>
            <th>Charge</th>
            <th>Event</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @extras.each do |extra| %>
            <tr>
                <td><%= link_to extra.name, extra %></td>
                <td><%= number_to_currency(extra.charge) %></td>
                <td><%= extra.event.name %></td>
                <td><%=  %>Reserved space</td>
            </tr>
        <% end %>
    </tbody>
</table>