<h1>Extras Index</h1>
<p style="color: green"><%= notice %></p>

<p><%= link_to "Create New Extra", new_extra_path %></p>

<table>
    <thead>
        <tr>
            <th>Extra Name</th>
            <th>Charge</th>
            <th>Event</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @extras.each do |extra| %>
            <tr>
                <td><%= link_to extra.name, extra %></td>
                <td><%= number_to_currency(extra.charge) %></td>
                <td><%= extra.event.name %></td>
                <td><%= link_to "Delete Extra", extra_path(extra), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure you want to delete this extra?"
                } %></td>
            </tr>
        <% end %>
    </tbody>
</table>