<h1>Reports Index</h1>
<p>Place links to all reports here</p>
<p><%= link_to "Temp Totals Report", 'reports/totals' %></p>
<p><%= link_to "Email List", 'reports/email_list' %></p>
<p><%= link_to "Invoice List", 'reports/invoice_list' %></p>
<p><%= link_to "Vacant Lots Report", 'reports/vacant_lots' %></p>
<p><%= link_to "In Park Report", in_park_reservations_path %></p>
<p><%= link_to "Event Totals", 'reports/event_totals' %></p>
<p><%= link_to "Daily Totals", 'reports/daily_totals' %></p>
<p><%= link_to "Discounts Report", 'reports/discount_list' %></p>