<h1>Vacant Lots Report for <%= @active_event.name %></h1>

<table>
        <thead>
            <tr>
                <th>Lot Number</th>
                <th>Width</th>
                <th>Length</th>
                <th>Type</th>
                <th>Fee for Active Event</th>
                <th>Notes</th>
            </tr>    
        </thead>
        <tbody>
            <% @vacancies.each do |lot| %>
                <tr>
                    <td><%= lot.name %></td>
                    <td><%= lot.width %>'</td>
                    <td><%= lot.length %>'</td>
                    <td><%= lot.site_type.name %></td>
                    <td><%= number_to_currency(lot.active_fee.amount) %></td>
                    <td><%= lot.special_condition %></td>
                </tr>
            <% end %>    
        </tbody>
    </table>