<footer>
    <nav>
        <ul>
            <li><strong>Configuration</strong></li>
        </ul>
        <ul>
            <li><%= link_to "Events", events_path %></li>
            <li><%= link_to "Fees", fees_path %></li>
            <li><%= link_to "Lot Types", site_types_path %></li>
            <li><%= link_to "Extras", extras_path %></li>
            <li><%= link_to "Discounts", discounts_path %></li>
            <li><%= link_to "Payment Methods", payment_methods_path %></li>
        </ul>    
    </nav>
</footer>