<header class="container">
    <nav>
        <ul>
            <li><%= link_to image_tag("KFTPLogo_02282023.png", alt: "KFTP Logo", height: 50), root_path %></li>
        </ul>
        <ul>
            <li><strong>KFTP</strong></li>
        </ul>
        <ul>
            <li>
                <details class="dropdown">
                    <summary>Menu</summary>
                    <ul dir="rtl">
                        <li><%= link_to "New Reservation", new_reservation_path %></li>
                        <li><%= link_to "Reservations", reservations_path %></li>
                        <li><%= link_to "Campers", campers_path %></li>
                        <li><%= link_to "Lots", lots_path %></li>
                        <li><%= link_to "Reports", reports_path %></li>
                    </ul>
                </details>
            </li>
        </ul>
    </nav>
</header>