<div class="sidebar">
    <p><%= link_to "Reservations", reservations_path %></p>
    <p><%= link_to "Lots", lots_path %></p>
    <p><%= link_to "Campers", campers_path %></p>
    <p><%= link_to "New Reservation", new_reservation_path %></p>
    <p><%= link_to "In Park List", in_park_reservations_path %></p>
    <p><%= link_to "Reports", reports_path %></p>

    <p><%= link_to "Events", events_path %></p>
    <p><%= link_to "Fees", fees_path %></p>
    <p><%= link_to "Lot Types", site_types_path %></p>
    <p><%= link_to "Extras", extras_path %></p>
    <p><%= link_to "Discounts", discounts_path %></p>
    <p><%= link_to "Payment Methods", payment_methods_path %></p>

</div>