<!DOCTYPE html>
<html data-theme="dark">
  <head>
    <title>Kinmount Fair Trailer Park</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('favicon.ico') %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "pico.green.min", "data-turbo-track": "reload", media: "screen" %>
    <%= stylesheet_link_tag "pico.colors", "data-turbo-track": "reload", media: "screen" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render :partial => 'layouts/header' %>
    <main class="container"> 
      <%= yield %>
    </main>
    <%= render :partial => 'layouts/footer' %>
  </body>
</html>
