<!DOCTYPE html>
<html data-theme="dark">
  <head>
    <title>Login - KFTP</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('favicon.ico') %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "pico.green.min", "data-turbo-track": "reload", media: "screen" %>
    <%= stylesheet_link_tag "pico.colors", "data-turbo-track": "reload", media: "screen" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="container noprint">
        <nav>
            <ul>
                <li><%= link_to image_tag("KFTPLogo_02282023.png", alt: "KFTP Logo", height: 50), login_path %></li>
            </ul>

        </nav>
    </header>   
    <main class="container"> 
      <%= yield %>
    </main>
    <footer class="container noprint">
        <nav>
            <ul>
            
            </ul>
            <ul>
            
            </ul>    
        </nav>
    </footer>
  </body>
</html>
