<!DOCTYPE html>
<html data-theme="dark">
  <head>
    <title>Lot <%= @reservation.lot.name + " - " + @active_event.name%> </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('favicon.ico') %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "pico.green.min", "data-turbo-track": "reload", media: "screen" %>
    <%= stylesheet_link_tag "pico.colors", "data-turbo-track": "reload", media: "screen" %>

    <style>
    @media print {
      /* Styles for printing invoices / lot sheets and displaying reservations */
          .res_main {
            display: grid;
            grid-template-areas: 
              'header header'
              'tpinfo checkin'
              'camperinfo resinfo'
              'feeinfo feeinfo'
              'paymentinfo paymentinfo';
          }
      
          .print_header {
            grid-area: header;
            text-align: center;
          }
      
          .tp_info {
            grid-area: tpinfo;
          }
      
          .checkin_info {
            grid-area: checkin;
          }
      
          .camper_info {
            grid-area: camperinfo;
          }
      
          .res_info {
            grid-area: resinfo;
          }
      
          .fee_info {
            grid-area: feeinfo;
          }
      
          .payment_info {
            grid-area: paymentinfo;
          }
      
          table {
            width: 100%;
          }
    }
      
    @media screen {
      .res_main {
        display: grid;
        grid-template-areas: 
          'header checkin'
          'camperinfo resinfo'
          'feeinfo extraform'
          'paymentinfo paymentform';
        background-color: inherit;
        justify-content: space-between;
      }

      .print_header {
          grid-area: header;
          text-align: left;
      }
      
      .checkin_info {
          grid-area: checkin;
      }
      
      .camper_info {
          grid-area: camperinfo;
      }
      
      .res_info {
          grid-area: resinfo;
      }
      
      .fee_info {
          grid-area: feeinfo;
      }
      
      .payment_info {
          grid-area: paymentinfo;
      }

      .payment_form {
          grid-area: paymentform;
      }

      .extra_form {
          grid-area: extraform;
      }

      .extra_form, .payment_form, .payment_info, .fee_info, .res_info, .camper_info, .checkin_info, .print_header {
        padding: 1% 0px;
      }

      #lot_num_show {
        font-size: 4vw;
      }

    }      
    </style>

    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render :partial => 'layouts/header' %>
    <main class="container res_main"> 
      <%= yield %>
    </main>
    <%= render :partial => 'layouts/footer' %>
  </body>
</html>